/* Customizations that should rather go into a new theme, but for now they're here */
.reveal .blocks {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:0;
}

.reveal .blocks li {
    padding: .5em 1em;
    margin: 0.5em 5em;
    background-color: rgba(0,0,0,.1);
    flex: 1;
    text-align:center;
}

.reveal .metrics-blocks {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin:0;
}

.reveal .metrics-blocks div {
    padding: 0;
    margin: 0 1em;
    flex: 1;
    border: none;
    min-width
}

.reveal .metrics-blocks img {
    border:none;
    background: white;
